include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
recursive-include activity_logger *.py
recursive-include activity_logger logs *.txt
recursive-include activity_logger *.md
